doctype html
html
  head
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    title Escuelas de Yucatán
    block stylesheets
      link(rel="stylesheet" type="text/css" href="stylesheets/app.css")
  body
    h1 Densidad de escuelas de Yucatán
    block contents
    block scripts
